/* CSS files add styling rules to your content */

body {
  font-family: verdana, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: bold;
  font-size: 85px;
  color: #0000ff;
  background-image: url('https://cdn.glitch.com/492043fd-6b85-442a-b7a0-d8ac93ff55c6%2Fcollage-5-young-emotional-jumping-260nw-1675100671.webp?v=1610587174309')
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: yellow;
}

.btn {
  border-right: 2px solid #0000ff;
  float: left;
  
}

#Info1 {
  list-style-image: url('https://cdn.glitch.com/492043fd-6b85-442a-b7a0-d8ac93ff55c6%2FArrow.png?v=1611006592315');
}

#Info2 {
  list-style-image: url('https://cdn.glitch.com/492043fd-6b85-442a-b7a0-d8ac93ff55c6%2FArrow.png?v=1611006592315');
}

li a {
  display: block;
  color: blue;
  font-size: 18px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #00ff00;
}

.active, .btn:hover {
  background-color: #0000ff;
  color: white;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
}


